//
// _theming.scss — mbp-rolls-client
// ~/src/app/history-event
//

@use '~@angular/material/theming' as ng;

@mixin apply-theme($theme) {
	$primary: map-get($theme, primary);
	$accent: map-get($theme, accent);
	$warn: map-get($theme, warn);
	$foreground: map-get($theme, foreground);
	$background: map-get($theme, background);
	$is-dark: map-get($theme, is-dark);

	.history-event {
		background: ng.mat-color($background, card);
	}

	.history-event-updated::after {
		background: ng.mat-color($accent, 500, 0.5);
	}

	.history-event-deleted::after {
		background: ng.mat-color($warn, 500, 0.5);
	}
}
