//-
//- modifier-step.include.pug — mbp-rolls-client
//- ~/src/app/user-action-panel
//-

div.user-action-panel-text
	| Discard and increase your dices (+{{ bonusLeft }})

	//- user helper; will be added later
	//- button(mat-icon-button, color="accent")
		mat-icon help

div.user-action-panel-rolls
	dice(
		*ngFor="let value of rolls; index as index",
		[value]="value + modifiers[index]",
		[difficulty]="difficulty",
		[discarded]="discards[index] || prevDiscards[index]",
		(modified)="modifyDice(index, $event)",
		(discarded)="modifyDiscard(index, $event)",
		)
		| {{ value + modifiers[index] }}

div.user-action-panel-actions
	button(mat-button, color="warn", (click)="stream.cancel()")
		mat-icon delete
		span Cancel

	button(mat-button, (click)="resetModifiers()")
		mat-icon refresh
		span Reset

	button(mat-button, (click)="modifiersStep()")
		mat-icon arrow_forward
		span {{ stream.step === 'primary-modifiers' ? 'Next' : 'Finish' }}
