//-
//- user-action-panel.component.pug — mbp-rolls-client
//- ~/src/app/user-action-panel
//-

div.user-action-panel-pending(*ngIf="pending")
	mat-progress-spinner(mode="indeterminate")

ng-container([ngSwitch]="stream.step")
	ng-container(*ngSwitchCase="'start'")
		include ./start-step.include.pug

	ng-container(*ngSwitchCase="'primary-modifiers'")
		include ./modifier-step.include.pug

	ng-container(*ngSwitchCase="'rerolls'")
		include ./reroll-step.include.pug

	ng-container(*ngSwitchCase="'last-modifiers'")
		include ./modifier-step.include.pug

	div(*ngSwitchDefault)
		p {{ stream.step }}
