//
// app.component.scss — mbp-rolls-client
// ~/src/app
//

@use '~@angular/material/theming' as ng;
@use 'dice';

.app-toolbar {
	@include ng.mat-elevation(4);

	.mat-button {
		text-transform: uppercase;
	}
}

.app-flex-auto {
	flex: auto;
}

.app-form-fields {
	display: flex;
	align-items: flex-start;
	gap: 1rem;

	.mat-form-field {
		flex: auto;
		width: 1%;
	}
}

.app-container {
	display: flex;
	flex-flow: row-reverse;
	gap: 1rem;
}

.app-user-list {
	width: 320px;
	min-width: 320px;
}

.app-not-connected {
	max-width: 768px;
	margin: auto;

	.mat-button-base {
		text-transform: uppercase;
	}
}

.app-not-connected-actions {
	margin: 3rem 0 0;
	text-align: center;
}

.app-content {
	flex: auto;

	.history-event + .history-event {
		margin-top: 1rem;
	}
}

.app-disconnect-button {
	display: block;
	width: 100%;
	text-transform: uppercase;
}
