//-
//- app.component.pug — mbp-rolls-client
//- ~/src/app
//-

mat-toolbar.app-toolbar
	span MBP Rolls

	.app-flex-auto

	mat-slide-toggle(
		labelPosition="before",
		[checked]="theming.darkTheme",
		(change)="theming.toggle($event.checked)",
		)
		| Dark Theme

main.app-main
	ng-container(*ngIf="!stream.isConnected")
		include not-connected.include.pug

	div.app-container(*ngIf="stream.isConnected")
		div.app-nav-content
			button.app-disconnect-button(
				mat-raised-button,
				(click)="closeConnection()",
				)
				span(mat-line) Disconnect
				mat-icon power_settings_new

			mat-list.app-user-list
				div(mat-subheader) Connected Users
				mat-list-item(*ngFor="let user of stream.users|keyvalue")
					span(mat-line) {{ user.value }}

		mat-divider(vertical)

		div.app-content
			history-event(
				*ngFor="let event of history; index as index",
				[event]="event",
				[class.history-event-updated]="updated[event.id]",
				[class.history-event-deleted]="deleted[event.id]",
				)

user-action-panel(*ngIf="stream.isConnected")
