//
// app.component.scss — mbp-rolls-client
// ~/src/app
//

@use '~@angular/material/theming' as ng;

.app-toolbar {
	@include ng.mat-elevation(4);

	.mat-button {
		text-transform: uppercase;
	}
}

.app-flex-auto {
	flex: auto;
}

.app-form-fields {
	display: flex;
	align-items: flex-start;
	gap: 1rem;

	.mat-form-field {
		flex: auto;
		width: 1%;
	}
}
