//-
//- app.component.pug — mbp-rolls-client
//- ~/src/app
//-

mat-toolbar.app-toolbar
	span MBP Rolls

	.app-flex-auto

	mat-slide-toggle(
		labelPosition="before",
		[checked]="theming.darkTheme",
		(change)="theming.toggle($event.checked)",
		)
		| Dark Theme

main
	ng-container(*ngIf="!stream.isConnected")
		include not-connected.include.pug

	div.app-container(*ngIf="stream.isConnected")
		mat-nav-list.app-user-list
			mat-list-item((click)="stream.disconnect()")
				span(mat-line) Disconnect
				mat-icon power_settings_new

			div(mat-subheader) Connected Users
			mat-list-item(*ngFor="let user of stream.users|keyvalue")
				span(mat-line) {{ user.value }}

		mat-divider(vertical)

		div
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
